APP_URL=http://localhost:8000

# Authentication via integration
SHOPWARE_ACCESS_KEY_ID=SWIAA29PA0W0UWZVDDE2EWHZDG
SHOPWARE_SECRET_ACCESS_KEY=N0JzcmtYUTNiUkxPSGtuSm5qVU9rTWpBUHVSWFpIRURCV0F4U0E

# Autentication via admin user
SHOPWARE_ADMIN_USERNAME=shopware
SHOPWARE_ADMIN_PASSWORD=shopware
