services:

    shopware:
      # use either tag "latest" or any other version like "6.5.3.0", ...
      image: dockware/dev:latest
      container_name: shopware
      ports:
         - "80:80"
         - "3306:3306"
         - "22:22"
         - "8888:8888"
         - "9999:9999"
      volumes:
         - "db_volume:/var/lib/mysql"
         - "shop_volume:/var/www/html"
         - "./config/packages/framework.yaml:/var/www/html/config/packages/framework.yaml"
      networks:
         - web
      environment:
         # default = 0, recommended to be OFF for frontend devs
         - XDEBUG_ENABLED=1
         - APP_URL=https://${CODESPACE_NAME}-80.app.github.dev
         - SHOP_DOMAIN=${CODESPACE_NAME}-80.app.github.dev
         - SHOP_SCHEME=https
         - DOCKWARE_DISABLE_SSL=0
         - TRUSTED_PROXIES=172.18.0.1

    anythink-ack:
      image: public.ecr.aws/v0a2l7y2/wilco/anythink-ack:latest
      container_name: anythink-ack
      environment:
        - GITHUB_TOKEN=$GITHUB_TOKEN
        - CODESPACE_NAME=$CODESPACE_NAME
      depends_on:
        - "shopware" 

volumes:
  db_volume:
    driver: local
  shop_volume:
    driver: local

networks:
  web:
    external: false
